<!DOCTYPE html>
<html lang="en">
<head>
    <style type="text/css" src="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css"></style>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
    <style type="text/css" src="{{ url_for('static', filename='css/main.css') }}"></style>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/etc.js') }}"></script>

    <title>Pet Store</title>
    {% if not user_info %}
        {% include "sign_up_modal.html" %}
    {% endif %}

    {% block head %}
    
    {% endblock %}
</head>
<body>
    
    <div class="container">
        <div class="title is-centered banner">Welcome to the pet store!</div>
    <br>
        {% if 'is_admin' in session %}
            <div class="breadcrumb navigation is-centered">
                <ul>
                <li><a href="/admin_page"> Admin Page </a></li>
                <li><a href="/">Welcome page </a></li>
                </ul>
            </div>
            {% endif %}
        {% if user_info %}
        <div class="user-greeting">
            Hello, {{ user_info.fname }}! <form action="/logout"><input class="button" type="submit" value="Logout"></form>
        </div>   
        {% else %}
        <div class="columns">
            <span id="login_form" class="column login-columns">
                <form class="columns is-3" action="/login" method="post">
                    <span class="column">
                <input type="text" name="email" class="column" placeholder="Email">
            </span>
                <span class="column">
                <input type="password" name="password" class="column" placeholder="Password">
                </span>
                <span class="column">
                <input type="submit" class="button" value="Login">
                </span>
                </form>
            </span>
            <span id="sign_up_form" class="column">
                <button class="button is-primary" onclick="toggle_modal('sign_up')">Sign up!</button>
            </span>
        </div>
        {% endif %}
        <div id="content">{% block content %} {% endblock %}</div>
        <div id="footer">
            {% block footer %}
            
            {% endblock %}
        </div>
    </div>
</body>
</html>